{
    "Description": "Red Hat CoreOS {{ ocp_min_ver }} VMDK",
    "Format": "VMDK",
    "UserBucket": {
        "S3Bucket": "{{ s3_bucket }}",
        "S3Key": "rhcos-{{ ocp_min_ver }}-x86_64-aws.x86_64.vmdk"
    }
}
