{
    "Description": "Red Hat CoreOS {{ rhcos_ver }} VMDK",
    "Format": "VMDK",
    "UserBucket": {
        "S3Bucket": "{{ s3_bucket }}",
        "S3Key": "rhcos-{{ rhcos_ver }}-x86_64-aws.x86_64.vmdk"
    }
}
